<div class="row">
  <div class="col-xs-6">
    <%= form_for(message) do |f| %>
      <% if message.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  
      <div class="form-group">
        <%= f.label :shabeliname, 'おシャベリネーム' %>
        <%= f.text_field :shabeliname %>
      </div>
      
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, 'メッセージ' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.submit 'シャベる', class: 'btn btn-primary' %>
      <%= link_to '一覧に戻る', messages_path, class: "btn btn-info" %>
    <% end %>
  </div>
</div>

